.propertyGroupHeader {
    display: inline-block;
    font-weight: bold;
    margin: 10px 0 5px 20px;
    font-size: 12.5px;
}

.propertyName {
    width:100px;
    font-size: 12.5px;
    text-align: right;
    padding-right:8px;
}

.propertyInput {
    max-width: var(--control-width);
    width: var(--control-width);
    padding: 3px;
}

.propertyInput > input {
    width: var(--control-width);
    border: solid 1px #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.propertyInput > input:focus {
    outline: solid 1px #7cc6f2;
}

.propertyInput > input[type=checkbox] {
    width: 16px;
    padding: 3px;
}

.propertyInput > input[type=checkbox]:focus {
    outline: solid 0px #7cc6f2;
}

.propertyInput > input:disabled {
    background: #ddd;
    color: #333;
}

.propertyInput > select {
    width: var(--control-width);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height:22px;
}


.propertySliderDiv {
    display: inline-block;
}

.unencodeBtn {
    width: 14px;
    height: 14px;
    background-size: 14px 14px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center 0px;
    outline: none;
    border: solid 0px #ddd;
    cursor: pointer;
    vertical-align: middle;
    margin-bottom: 2px;
    margin-left:5px;
    background-image: url(../assets/DI_Unbind.png);
}

.encodeBtn {
    width: 14px;
    height: 14px;
    background-size: 14px 14px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center 0px;
    outline: none;
    border: solid 0px #ddd;
    cursor: pointer;
    vertical-align: middle;
    margin-bottom: 2px;
    margin-left:6px;
    background-image: url(../assets/DI_Bind.png);
}

.encodeBtn:focus {
    outline: none;
}

/* Dropdown positioning */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    min-width: 150px;
}